{{- define "macro:WishlistTableOfContents" }}
    {{- $db := .db }}
    {{- range $db }}
        {{- $category := .}}
        {{- $items := $category.items }}
        {{- if $items }}
            <li>
                <a href="#{{ $category.id }}">{{ $category.title }} ({{ $items | len }})</a>
            </li>
        {{ end -}}
    {{ end -}}
{{ end -}}
{{- define "macro:WishlistTable" }}
    {{- $db := .db }}
    {{- $isPositive := .positive }}
    <div class="wishlist">
        {{- range $db }}
            {{- $category := .}}
            {{- $items := $category.items }}
            {{- if $items }}
                <div class="category">
                    <h3 id="{{ $category.id }}"
                        class="{{ if $isPositive }}positive{{ else }}negative{{ end }}">{{ $category.title }}</h3>
                    {{- if $category.description }}
                        <div class="category-description">
                            {{ markdown $category.description }}
                        </div>
                    {{ end -}}
                    <div class="items">
                        {{- range $items }}
                            {{- $item := . }}
                            <div class="item">
                                <img src="{{ $item.image }}" alt="{{ $item.title }}"/>
                                <div class="info">
                                    {{- if $item.link }}
                                        <a href="{{ $item.link }}" class="title">{{ $item.title }}</a>
                                    {{- else }}
                                        <b>{{ $item.title }}</b>
                                    {{ end -}}
                                    {{- if $item.description }}
                                        <p class="description">{{ markdown $item.description }}</p>
                                    {{ end -}}
                                </div>
                            </div>
                        {{ end -}}
                    </div>
                </div>
            {{ end -}}
        {{ end -}}
    </div>
{{ end -}}
